{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>ImiField</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">imifield</a>
    </div>
  </nav>

  <div class="container mt-5 p-lg-5">
    <div class="card">
      <div class="card-body">
        <h4 class="my-2 pt-2 fw-normal text-center">
          Enter the Room ID you are looking for.
        </h4>
        <div id="select-room">
          <form>
            <div id="form-group">
              <p class="pt-2">Player name</p>
              <p class="pb-2 fs-5">{{ user.first_name }} {{ user.last_name }}</p>
              <div class="form-row mb-4">
                <label for="room-id-input" class="form-label">Room ID</label>
                <input type="text" id="room-id-input" class="form-control" aria-describedby="roomidHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                  Must be 6 characters long.
                </div>
              </div>
    
              <div class="form-group row">
                <div class="col-sm-12">
                  <input id="room-id-submit" type="button" class="btn btn-primary w-100" value="Enter">
                </div>
              </div>
    
            </div>
          </form>
        </div>
      </div>
    </div>

    <div  class="my-2 pt-3 text-muted text-center text-small">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
    
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021 imifield</p>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>
  </div>
</body>

</html>