{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>ImiField - Room {{ room_id }}</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">imifield</a>
    </div>
  </nav>

  <div class="container mt-5 p-lg-5">

    <span class="badge bg-info text-dark float-end">Room ID: <span id="room-id"></span></span>


    <div class="pb-5 pt-5">
      <p class="pt-2">Player name<br>{{ user.first_name }} {{ user.last_name }}</p>
    </div>

    <div class="mb-3">
      <label for="dice-log" class="form-label">Dice log</label>
      <textarea class="form-control" id="dice-log" cols="100" rows="10" disabled></textarea>
    </div>
    <input class="btn btn-primary" id="dice-roll" type="button" value="Roll a dice" disabled>
    <script>
      const room_id = {{ room_id }};
      const room_id_json = {{ room_id_json }};
      const display_name = "{{user.first_name}} {{user.last_name}}";
    </script>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 imifield</p>
  </footer>

  <script src="{% static 'js/room.js' %}"></script>
</body>
</html>