<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authtest</title>
</head>
<body>
  <h1>This is home</h1>
  {% if user.is_authenticated %}
  <p>Hello, {{ user.username }}.</p>
  <a href="{% url 'logout' %}">logout</a>
  {% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">login</a>
  {% endif %}
</body>
</html>