{% extends "registration/logged_out.html" %}
{% load i18n %}

{% block branding %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}

<p>{% translate "Thanks for spending some quality time with the Web site today." %}</p>

<p><a href="{% url 'index' %}">{% translate 'Log in again' %}</a></p>

{% endblock %}