<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
  </form>

  <p><a href="{% url 'home' %}">home</a></p>
</body>
</html>