body {
  margin: 0;
  font-family: '游ゴシック', Arial, Helvetica, sans-serif;
}

/* #field {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#player1 {
  background-color: #af1212;
  color: #f0f8ff;
}

#player2 { 
  background-color: #167074;
  color: #f0f8ff;
}

#player1 h1 {
  text-align: center;
  width: 100%;
}

#player2 h1 {
  text-align: center;
  width: 100%;
}

.player {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

#form {
  margin: 0 auto 0 auto;
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

#form input[type="text"] {
  margin-bottom: 10px;
}

#form input[type="button"] {
  width: 30%;
}